---
layout: layouts/base.njk
title: Blog
---
<header class="blog-header">
    <h1>News &amp; Blog</h1>
</header>

<main class="post-list">
    {% for post in collections.posts | reverse %}
    <article class="post-entry">
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p class="byline">
            By <span class="author">{{ authors[post.data.author].name }}</span>
            &middot;
            <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
        </p>
        <p>{{ post.data.lede }}</p>
        <a class="read-more" href="{{ post.url }}">Read more &rarr;</a>
    </article>
    {% else %}
    <p>No posts yet. Check back soon.</p>
    {% endfor %}
</main>
